<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DiningController</servlet-name>
        <servlet-class>Controller.DiningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>Controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAwayController</servlet-name>
        <servlet-class>Controller.TakeAwayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationController</servlet-name>
        <servlet-class>Controller.ConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiningController</servlet-name>
        <url-pattern>/DiningController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAwayController</servlet-name>
        <url-pattern>/TakeAwayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/MenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationController</servlet-name>
        <url-pattern>/ConfirmationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-role>
        <description>Admin</description>
        <role-name>admin</role-name>
    </security-role>
    <error-page>
        <error-code>403</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/login_error.jsp</location>
    </error-page>
    <security-constraint>
        <!--         Restrict access to the URLs in the admin directory -->
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/Admin.jsp</url-pattern>
        </web-resource-collection>
        <!--         Authorize the service and programmer roles -->
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <!--         Forces a secure connection - remove comments to enable -->
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/AdminLogin.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
