<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DiningController</servlet-name>
        <servlet-class>Controller.DiningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>Controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAwayController</servlet-name>
        <servlet-class>Controller.TakeAwayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmationController</servlet-name>
        <servlet-class>Controller.ConfirmationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiningController</servlet-name>
        <url-pattern>/DiningController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAwayController</servlet-name>
        <url-pattern>/TakeAwayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/MenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmationController</servlet-name>
        <url-pattern>/ConfirmationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/SignInController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
